# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Certificates
mh-real-zeugnis-s.jpg
mh-supercode-zeugnis-s.jpg
mh-diplom-zeugnis-s.jpg
mh-html-css-zeugnis-s.jpg
mh-fullstack_wz.pdf
mh-htmlCss_wz.pdf
mh-real-zeugnis_wz.pdf
mh-diplom-zeugnis_wz.pdf


# Old files used for Wertgarantie application:
NavigationWert.jsx
ApplicationWert.jsx
CertificatesWert.jsx
CertificatesWert.css
ProfessionalDataWert.jsx

mh-diplom-zeugnis-1.jpg
mh-diplom-zeugnis.pdf
mh-html-css-zeugnis.jpg
mh-htmlCss.pdf
mh-fullstack.pdf
mh-real-zeugnis-1.jpg
mh-real-zeugnis.pdf