.ticker-wrap {
    width: 100%;
    white-space: nowrap;
}

.ticker {
    animation: tickerOne 60s linear infinite;
}

.item-collection-1 {
    animation: tickerTwo 60s linear infinite;
}

.item {
    border: 1px solid var(--grey-medium);
}

.item:hover {
    cursor: pointer;
    background-color: var(--grey-medium);
    color: var(--beige-light);
}

@keyframes tickerOne {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-100%)
    }
}

@keyframes tickerTwo {

    0%,
    50% {
        left: 0%;
    }

    50.01%,
    100% {
        left: 100%;
    }
}