.tech-stack-container>div {
    width: fit-content;
    font-weight: 400;
    color: var(--text-medium);
    text-transform: uppercase;
}

.tech-stack-container div span {
    width: fit-content;
    display: inline-block;
    border: 1px solid var(--text-medium);
}

.tech-stack-container div span:hover {
    box-shadow: 0px 4px 8px #0000002c;
}