#iconContainerMail,
#iconContainerPhone,
#iconContainerAddress {
    width: 120px;
    height: 100%;
    background-color: var(--beige);
}

#iconContainerMail>img,
#iconContainerPhone>img,
#iconContainerAddress>img {
    width: 40px;
}

.social-icon-container {
    max-width: 400px;
}

.social-icon {
    height: 60px;
}

.social-icon:hover {
    transform: scale(110%);
    transition: 0.4s;
}

@media screen and (max-width: 450px) {
    .map-sm {
        max-width: 80%;
        max-height: 80%;
    }
}