.shadow-box {
    box-shadow: 2px 4px 7px 2px #0000002c;
}

.custom-width-studyCoding {
    max-width: 250px;
}

.hearts-gif {
    max-width: 80px;
    position: absolute;
    top: 20px;
}

#getInContact,
#getInContact>button {
    width: fit-content;
}

@media screen and (max-width: 992px) {
    .custom-width-studyCoding {
        max-width: 200px;
    }

    .hearts-gif {
        max-width: 60px;
    }
}