.nav {
    --bs-nav-link-color: var(--text-dark);
    --bs-nav-link-hover-color: var(--text-dark);
    --bs-nav-tabs-border-color: transparent;
    --bs-nav-tabs-link-hover-border-color: var(--beige);
    --bs-nav-tabs-link-active-bg: var(--beige);
    --bs-nav-tabs-link-active-color: var(--text-medium);
    --bs-nav-tabs-link-active-border-color: var(--beige);
}

.border-style-first {
    border: 3px solid var(--beige) !important;
    border-radius: 0 0 19px 19px;
}

.flex-grow-0 {
    flex-grow: 0;
}

.basic-logo {
    width: 144px;
    height: 144px;
    background-color: var(--grey-medium);
    border: 4px solid white;
}

.basic-logo-light {
    width: 144px;
    height: 144px;
    background-color: white;
    border: 4px solid var(--grey-medium);
}

.weiterbildung-logo {
    width: 120px;
}

.real-logo {
    width: 100px;
}

.hs-logo {
    width: 80px;
}

/* =====================
    Accordion style changes
=========================*/
.accordion {
    --bs-accordion-bg: transparent;
    --bs-accordion-border-color: transparent;
    --bs-accordion-btn-focus-box-shadow: transparent;
    --bs-accordion-active-bg: transparent;
    --bs-accordion-active-color: var(--text-dark);
}

.accordion-header>p {
    color: var(--text-medium);
}

.tech-stack-container-small>div {
    width: fit-content;
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--text-medium);
    text-transform: uppercase;

}

.tech-stack-container-small div span {
    width: fit-content;
    display: inline-block;
    border: 1px solid var(--beige-light);
    background-color: white;
    box-shadow: 0px 2px 4px #0000002c;
}

.tech-stack-container-small div p {
    width: fit-content;
    display: inline-block;
    border: 1px solid var(--beige-light);
    background-color: white;
    box-shadow: 0px 2px 4px #0000002c;
}

/* =====================
    Abschluss cards
=========================*/
.card>img {
    height: 150px;
}

.accordion-item .card {
    height: 100%;
}

.accordion-item .card-body {
    display: flex;
    flex-direction: column;
}

.accordion-item .card-body>p:nth-of-type(2) {
    flex-grow: 1;
}

#free2gameCard,
#eventPilotCard {
    height: 100%;
}

.card {
    box-shadow: 0 4px 8px #00000032;
}


@media screen and (max-width: 992px) {
    #professionalDataTabContent {
        padding: 2rem !important;
    }

    .tab-pane>div {
        padding: 2rem 1rem !important;
    }

    .basic-logo,
    .basic-logo-light {
        width: 120px;
        height: 120px;
    }

    .basic-logo>img,
    .basic-logo-light>img {
        max-width: 80px;
    }


}