.nav {
    --bs-nav-link-color: var(--text-dark);
    --bs-nav-link-hover-color: var(--text-dark);
    --bs-nav-tabs-border-color: transparent;
    --bs-nav-tabs-link-hover-border-color: var(--beige);
    --bs-nav-tabs-link-active-bg: var(--beige);
    --bs-nav-tabs-link-active-color: var(--text-medium);
    --bs-nav-tabs-link-active-border-color: var(--beige);
}

.border-style-first {
    border: 3px solid var(--beige) !important;
    border-radius: 0 0 19px 19px;
}

.basic-logo {
    width: 144px;
    height: 144px;
    background-color: var(--grey-medium);
    border: 4px solid white;
}

.basic-logo-light {
    width: 144px;
    height: 144px;
    background-color: white;
    border: 4px solid var(--grey-medium);
}

.weiterbildung-logo {
    width: 120px;
}

.real-logo {
    width: 100px;
}

.hs-logo {
    width: 80px;
}

/* =====================
    Accordion style changes
=========================*/
.accordion {
    --bs-accordion-bg: transparent;
    --bs-accordion-border-color: transparent;
    --bs-accordion-btn-focus-box-shadow: transparent;
    --bs-accordion-active-bg: transparent;
    --bs-accordion-active-color: var(--text-dark);
}

.accordion-header>p {
    color: var(--text-medium);
}

.tech-stack-container-small>div {
    width: fit-content;
    color: var(--text-medium);
}

.tech-stack-container-small div span {
    width: fit-content;
    display: inline-block;
    border: 1px solid var(--beige-light);
    background-color: white;
    box-shadow: 0px 2px 4px #0000002c;
}

.tech-stack-container-small div p {
    width: fit-content;
    display: inline-block;
    border: 1px solid var(--beige-light);
    background-color: white;
    box-shadow: 0px 2px 4px #0000002c;
}

/* =====================
    Abschluss cards
=========================*/
.card>img {
    height: 150px;
}

.card {
    box-shadow: 0 4px 8px #00000032;
}


@media screen and (max-width: 992px) {
    #professionalDataTabContent {
        padding: 2rem !important;
    }

    .tab-pane>div {
        padding: 2rem 1rem !important;
    }

    .basic-logo,
    .basic-logo-light {
        width: 120px;
        height: 120px;
    }

    .basic-logo>img,
    .basic-logo-light>img {
        max-width: 80px;
    }
}

@media screen and (max-width: 576px) {

    /* #tabPaneHSNiederrhein .col {
        padding: 0 !important;
    } */

    .basic-logo,
    .basic-logo-light {
        margin-bottom: 1rem;
        width: 80px;
        height: 80px;
    }

    .basic-logo>img,
    .basic-logo-light>img {
        max-width: 60px;
    }

    .accordion-header>p {
        margin: 0 auto;
        padding: 1rem 0 0 0;
        max-width: fit-content;
        font-size: 1rem !important;
    }

    .accordion-button {
        font-size: 1.1rem !important;
    }

    #weiterbildungWrapper,
    #realLogoWrapper,
    #karrieretutorLogoWrapper,
    #hsNiederrheinLogoWrapper {
        flex-grow: 1 !important;
    }

    #weiterbildungWrapper>div,
    #realLogoWrapper>div,
    #karrieretutorLogoWrapper>div,
    #hsNiederrheinLogoWrapper>div {
        margin: 0 auto !important;
    }

    #hsNiederrheinLogo {
        max-width: 45px;
    }


}